/*************************************************
* General
*************************************************/

*,:after,:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

.clearfix:before,.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

body {
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333333;
  background: #f9f9f9;
}


li {
  list-style: none;
}

ol,ul {
  list-style: none;
}

p {
  text-align: left;
  margin-bottom: 30px;
  font-size: .85em;
}


a {
  cursor: pointer;	
  color: #48A65B;
  text-decoration: none;
}

/*----------*/
body {
	background: url('../images/kodaikanal-near-dolphin-end.jpg') no-repeat scroll;
	background-size: cover;
	background-position: center;
}
.main {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.container {
	display: table;
    width: 100%;
    height: 100%;
}
.container-inner {
	display: table-row;
}
.main-content {
	display: table-cell;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.9);
    width: 100%;
    text-align: center;
	vertical-align: middle;
	position: relative;
}
.main-content h1 {
	font: 80px/90px 'Roboto';
	margin: 0;
	text-transform: uppercase;
}
.main-content h2 {
	font: 50px/70px 'Roboto';
	margin: 0;
}
.main-content h2 span {
	font: 30px/70px 'Roboto';
}
.main-content h3 {
	font: 40px/50px 'Roboto';
	margin: 0;
}
.sc-social {
    position: absolute;
    font-size: 50px;
    padding: 0;
    line-height: 50px;
	color: #fff;
	background-color: #a7a7a7;
	border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}
.sc-social:nth-child(1) {
    border-bottom: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-top-left-radius: 0;
    top: 0;
    left: 0;
}
.sc-social:nth-child(2) {
    border-bottom: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-top-right-radius: 0;
    top: 0;
    right: 0;
}
.sc-social:nth-child(3) {
    border-top: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    border-bottom-left-radius: 0;
    bottom: 0;
    left: 0;
}
.sc-social:nth-child(4) {
    border-top: 1px solid #d7d7d7;
    border-left: 1px solid #d7d7d7;
    border-bottom-right-radius: 0;
    bottom: 0;
    right: 0;
}
.sc-social i {
    padding-top: 25%;
}
.sc-social:hover {
    width: 150px;
    height: 150px;
    font-size: 80px;
}

@media only screen and (max-width:767px) {
	.main-content h1 {
		font: 40px/50px 'Roboto';
	}
	.main-content h2 {
		font: 20px/30px 'Roboto';
	}
	.main-content h2 span {
		font: 12px/40px 'Roboto';
	}
	.main-content h3 {
		font: 27px/30px 'Roboto';
	}
	.sc-social {
		font-size: 25px;
		line-height: 40px;
		width: 50px;
		height: 50px;		
	}
}